<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <link rel="stylesheet" href="/static/css/about.css"/> 
    <title>GreenEase - About Us</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">GreenEase</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}"">Contact</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about">
        <img src="/static/img/dustbin.jpg" alt="About Us Image" style="width: 100%;">

        <div class="green-box">
            <h2>About Us</h2>
            <hr>
            <p class="about-intro">
                Welcome to GreenEase, your dedicated platform for promoting sustainable waste management practices and creating a cleaner and greener environment in Nepal. 
            </p>
            <p class="about-paragraph">
                We are passionate about making a positive impact on our communities and the planet through responsible waste disposal and efficient waste collection. Our vision is to revolutionize waste management in Nepal by providing an innovative platform that empowers individuals to take charge of their waste disposal habits.
                 We believe that small actions can lead to significant change, and by encouraging proper waste segregation, optimizing waste collection schedules, and raising public awareness, we aim to contribute to a cleaner, healthier, and more sustainable future for Nepal.
            </p>
        </div>
    
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div class="terms">
                <a href="{% url 'termsandconditions' %}">Terms and Conditions</a>
            </div>

            <div class="social-icons">
                <a href="https://www.facebook.com/PrejitaChaulagai" target="_blank">
                    <img src="/static/img/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/prejita_chaulagai/" target="_blank">
                    <img src="/static/img/instagram.png" alt="Twitter">
                </a>
            </div>

            <div class="copyright">
                <p>&copy; 2023 GreenEase, All Rights Reserved</p>
            </div>
        </div>
    </footer>    

</body>
</html>