<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/blog.css"> 
    <title>GreenEase - Blog</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">GreenEase</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}"">Contact</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                </ul>
            </div>
        </nav>
        
        <h1 class="blog-heading">Blog</h1>
    </header>

    <section class="blog">

        <article class="blog-post">
            <div class="image-content">
                <img src="/static/img/tips.jpg" alt="Blog Image" width="300">
            </div>
            <div class="text-content">
                <h2>Eco-Friendly Living Tips</h2>
                <p>Living a more eco-friendly lifestyle isn't just about reducing your carbon footprint; it's about making mindful choices that benefit both the planet and your well-being. 
                    Whether you're just starting your sustainability journey or looking for new ways to lessen your environmental impact.
                </p>
                <a href="{% url 'blog_post5' %}">Read More</a>
            </div>
        </article>
        <hr style="width: 96%;">

        <article class="blog-post">
            <div class="image-content">
                <img src="/static/img/fashion.jpg" alt="Blog Image" width="300">
            </div>
            <div class="text-content">
                <h2>Sustainable Fashion and Lifestyle</h2>
                <p>In a world where fast fashion trends come and go in the blink of an eye, embracing sustainable fashion and lifestyle choices is more important than ever.
                    Sustainable fashion isn't just about buying organic cotton or eco-friendly materials—it's about rethinking our entire approach to clothing, from production to consumption. 
                </p>
                <a href="{% url 'blog_post6' %}">Read More</a>
            </div>
        </article>
        <hr style="width: 96%;">

        <article class="blog-post">
            <div class="image-content">
                <img src="/static/img/bestpractice.jpg" alt="Blog Image" width="300" height="300">
            </div>
            <div class="text-content">
                <h2>Waste Collection Best Practices</h2>
                <p>Effective waste collection is not just about picking up trash; it's about implementing strategies that minimize environmental impact, maximize resource recovery, and promote community well-being. 
                    By adopting best practices in waste collection, we can work towards a cleaner, healthier future for both people and the planet. 
                </p>
                <a href="{% url 'blog_post7' %}">Read More</a>
            </div>
        </article>
        <hr style="width: 96%;">

        <article class="blog-post">
            <div class="image-content">
                <img src="/static/img/harm.jpg" alt="Blog Image" width="300" height="300">
            </div>
            <div class="text-content">
                <h2>Impact of Improper Waste Management on Public Health</h2>
                <p>Proper waste management is not just a matter of cleanliness—it's a critical component of public health protection. 
                    When waste is improperly managed, it poses significant risks to human health, the environment, and the well-being of communities. Understanding them is essential for implementing effective waste management strategies and safeguarding public health.
                </p>
                <a href="{% url 'blog_post8' %}">Read More</a>
            </div>
        </article>

        <!-- Pagination -->
        <div class="pagination">
            <a href="{% url 'blog' %}" class="prev">&laquo; Previous</a>
            <a href="{% url 'blog' %}" class="page">1</a>
            <a href="{% url 'blog2' %}" class="page">2</a>
            <!-- <a href="#" class="next">Next &raquo;</a> -->
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div class="terms">
                <a href="{% url 'termsandconditions' %}">Terms and Conditions</a>
            </div>

            <div class="social-icons">
                <a href="https://www.facebook.com/PrejitaChaulagai" target="_blank">
                    <img src="/static/img/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/prejita_chaulagai/" target="_blank">
                    <img src="/static/img/instagram.png" alt="Twitter">
                </a>
            </div>

            <div class="copyright">
                <p>&copy; 2023 GreenEase, All Rights Reserved</p>
            </div>
        </div>
    </footer>    
</body>
</html>
