<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard.css"/>
    <script src="/static/js/notification_count.js"></script>
    <script src="/static/js/user_count.js"></script>

    <!-- Header file for the Leaflet map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <title>GreenEase - Dashboard</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="user-profile">
                <img src="/static/img/profile-pic.png" alt="User Profile Picture">
                <div class="admin-label">Admin</div>
            </div>
            <div class="menu">
                <div class="menu-item">
                    <a href="{% url 'dashboard' %}" style="text-decoration: none;">
                        <div class="menu-box">
                            <img src="/static/img/dashboard.png" alt="Dashboard Icon" class="icon">
                            <span class="bold-text">Dashboard</span>
                        </div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'notifications' %}" style="text-decoration: none;">
                        <div class="menu-box">
                            <div class="icon-container">
                                <img src="/static/img/notification.png" alt="Notifications Icon" class="icon">
                                <span id="notification-count" class="notification-count">0</span>
                            </div>
                            <span class="bold-text">Notifications</span>
                        </div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'eventlist' %}" style="text-decoration: none;">
                        <div class="menu-box">
                            <img src="/static/img/event.png" alt="Event Icon" class="icon">
                            <span class="bold-text">Events</span>
                        </div>
                    </a>    
                </div>
                <div class="menu-item">
                    <a href="{% url 'userrequest' %}" style="text-decoration: none;">
                        <div class="menu-box">
                            <div class="icon-container">
                                <img src="/static/img/adduser.png" alt="UserRequest Icon" class="icon">
                                <span id="user-count" class="user-count">0</span>
                            </div>
                            <span class="bold-text">User Requests</span>
                        </div>
                    </a>    
                </div>
                <div class="menu-item" id="logout">
                    <a href="#" id="logout-link" style="text-decoration: none;">
                        <div class="menu-box">
                            <img src="/static/img/logout.png" alt="Logout Icon" class="icon">
                            <span class="bold-text">Logout</span>
                        </div>
                    </a>                    
                </div>
                
            <!-- <div class="copyright">
                <p>&copy; 2023 GreenEase, All Rights Reserved</p>
            </div> -->
        </aside>
    </div>

    <script>
        // Initial update when the page loads
        updateNotificationCount();
        updateUserCountBadge();
    </script>
    
    <div class="content">
        <div class="title-box">
            <h1>GreenEase</h1>
        </div>

        <hr class = "line">

        <div id="map" style="width: 100%; height: 580px;"></div>
    </div>
    
    <!-- <script>
        // Function to update and display the notification count
        function updateNotificationCount() {
            // Check if the user is on the notifications page
            var isOnNotificationsPage = window.location.pathname === '{% url "notifications" %}';

            // Retrieve the notification count from localStorage
            var currentCount = parseInt(localStorage.getItem('notificationCount')) || 0;

            if (isOnNotificationsPage) {
                // Reset the notification count to 0 when on the notifications page
                localStorage.setItem('notificationCount', 0);
            } else {
                // Increment the notification count
                var newCount = currentCount + 1;

                // Update the notification count in localStorage
                localStorage.setItem('notificationCount', newCount);

                // Update the notification count element
                var notificationCountElement = document.getElementById('notification-count');
                notificationCountElement.innerText = newCount;
            }
        }
    </script> -->

    <script>
        var map = L.map('map').setView([27.712265, 85.330702], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Retrieve distance and status from the Django context
        var distance = '{{ distance }}';
        var status = '{{ status }}';
        var time = '{{kathmandu_time}}';
        var binlocation = '{{location}}';

        // Check if the status is "Full" and change marker popup color to red
        if (status === 'Full') {
            // Define a red icon
            var redIcon = L.icon({
                iconUrl: '/static/img/marker.png',  // URL to red marker icon
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
            });
            var marker = L.marker([27.712265, 85.330902], {icon:redIcon}).addTo(map)
                .bindPopup('Dustbin 1 <br>Distance: ' + distance + ' cm<br>Status: ' + status + '<br>Location: ' + binlocation + '<br>Time: ' + time)
                .openPopup();
        } else {
            var marker = L.marker([27.712265, 85.330902]).addTo(map)
                .bindPopup('Dustbin 1 <br>Distance: ' + distance + ' cm<br>Status: ' + status + '<br>Location: ' + binlocation + '<br>Time: ' + time)
                .openPopup();
        }        

        // Create and position the custom box in the top right corner
        var customBox = L.control({ position: 'topright' });

        customBox.onAdd = function () {
            var div = L.DomUtil.create('div', 'custom-box');
            div.innerHTML = "<h2>Dustbin's Information</h2><hr>" + '<p>Dustbin: 1 <br>Distance: ' + distance + ' cm <br>Status: ' + status + '<br>Location: ' + binlocation + '<br> Time: ' + time + '</p>';
            return div;
        };

        customBox.addTo(map);
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Logout confirmation
            const logoutLink = document.getElementById('logout-link');
            logoutLink.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent the default link behavior

                // Show a confirmation dialog before logging out
                Swal.fire({
                    title: 'Are you sure you want to logout?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Logout',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If confirmed, proceed with logout
                        Swal.fire({
                            icon: 'success',
                            title: 'Logged out successfully!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            // Redirect the user to the homepage or login page after logout
                            window.location.href = '{% url "index" %}'; 
                        });
                    }
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>

