<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <title>GreenEase - Dashboard</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="user-profile">
                <img src="/static/img/profile-pic.png" alt="User Profile Picture">
                <div class="admin-label">Admin</div>
            </div>
            <div class="menu">
                <div class="menu-item">
                    <div class="menu-box">
                        <img src="/static/img/dashboard.png" alt="Dashboard Icon" class="icon">
                        <span class="bold-text">Dashboard</span>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-box">
                        <img src="/static/img/notification.png" alt="Notifications Icon" class="icon">
                        <span class="bold-text">Notifications</span>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-box">
                        <img src="/static/img/logout.png" alt="Logout Icon" class="icon">
                        <span class="bold-text">Logout</span>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2023 GreenEase, All Rights Reserved</p>
            </div>
        </aside>
    </div>
    
    <div class="content">
        <div class="title-box">
            <h1>GreenEase</h1>
        </div>

        <hr class = "line">

        <div id="map" style="width: 100%; height: 580px;"></div>
    </div>
  
    <script>
        // JavaScript code to initialize and configure the Leaflet map
        var map = L.map('map').setView([27.712265, 85.330702], 16); // Set the initial map coordinates and zoom level

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18.5,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        L.marker([27.712265, 85.330702]).addTo(map)
        .bindPopup('Dustbin Location')
        .openPopup();
    </script>

</body>
</html>

