<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css"> 
    <title>GreenEase - Login</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">GreenEase</a>
            </div>
        </nav>
    </header>

    <section class="login">
        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                <h1 class="login-heading">Login</h1>

                <div class="user-info">
                    <img src="/static/img/user.png" alt="User Icon">
                    <p class="label">Username</p>
                </div>
                <div class="input-container">
                    <input type="text" name="username" id="username">
                </div>

                <div class="password-info">
                    <img src="/static/img/padlock.png" alt="Password Icon">
                    <p class="label">Password</p>
                </div>
                <div class="input-container">
                    <input type="password" name="password" id="password">
                </div>

                <div class="button-container">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
