/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background: #3c3c3c;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

/* User profile styles */
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.admin-label {
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Menu styles */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .menu-item {
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.menu .menu-item:nth-child(1) .menu-box {
    background: #00a859;
}

.menu .menu-box {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 0;
    background: none;
    transition: background 0.3s;
    width: 100%;
}

.menu .menu-box .icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    filter: invert(100%);
}

.menu .menu-box .bold-text {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.menu .menu-item:hover .menu-box {
    background: #00a859;
}

/* Notification Badge Styles */
.notification-count {
    position: absolute;
    top: -8px;
    right: 1px;
    background-color: #ff5858;
    color: #fff;
    border-radius: 50%;
    padding: 3px 0.5px;
    font-size: 11px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.icon-container {
    position: relative;
}

/* User Badge Styles */
.user-count {
    position: absolute;
    top: -8px;
    right: 1px;
    background-color: #ff5858; 
    color: #fff; 
    border-radius: 50%;
    padding: 3px 0.5px;
    font-size: 11px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

/* Copyright styles */
.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}

/* Content styles */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Title box styles */
.title-box {
    background: #fff;
    color: #00a859;
    text-align: left;
    height: 50px;
    margin-left: 30px;
}

.title-box h1 {
    font-size: 26px;
}

/* Line styles */
.line {
    border: none;
    border-top: 2px solid #ccc;
    width: 100%;
    margin-bottom: 3px;
}

/* Custom box styles */
.custom-box {
    position: absolute;
    z-index: 1000;
    background-color: #3c3c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 230px;
}

.custom-box p {
    font-size: 14px;
}
