/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Box-sizing for all elements */
* {
    box-sizing: border-box;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background: #3c3c3c;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

/* User profile styles */
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.admin-label {
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Menu styles */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .menu-item {
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.menu .menu-item:nth-child(3) .menu-box {
    background: #00a859;
}

.menu .menu-box {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 0;
    background: none;
    transition: background 0.3s;
    width: 100%;
}

.menu .menu-box .icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    filter: invert(100%);
}

.menu .menu-box .bold-text {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.menu .menu-item:hover .menu-box {
    background: #00a859;
}

/* Notification Badge styles */
.notification-count {
    position: absolute;
    top: -8px;
    right: 1px;
    background-color: #ff5858;
    color: #fff;
    border-radius: 50%;
    padding: 3px 0.5px;
    font-size: 11px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.icon-container {
    position: relative;
}

/* User Badge Styles */
.user-count {
    position: absolute;
    top: -8px;
    right: 1px;
    background-color: #ff5858; 
    color: #fff; 
    border-radius: 50%;
    padding: 3px 0.5px;
    font-size: 11px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

/* Copyright styles */
.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}

/* Title box styles */
.title-box {
    background: #fff;
    color: #00a859;
    text-align: left;
    height: 35px;
    margin-left: 30px;
    width: 100%;
}

.title-box h1 {
    font-size: 26px;
}

/* Line styles */
/* .line {
    border: none;
    border-top: 2px solid #ccc;
    width: 103%;
    margin-bottom: 1px;
} */
.line {
    border: none;
    border-top: 2px solid #ccc;
    width: calc(100% - 250px); /* Set width to cover the width of the content area (excluding sidebar) */
    position: absolute; /* Position the line absolutely */
    top: 47px; /* Set the top position below the title box */
    left: 250px; /* Set the left position to align with the sidebar */
    margin-bottom: 5px;
}

/* Events container styles */
.events-container {
    padding: 20px;
}

/* Events table styles */
.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
}

.events-table th,
.events-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.events-table th {
    background-color: #f2f2f2;
}

.events-table th:nth-child(2),
.events-table td:nth-child(2) {
    width: 880px;
}

.events-table td:nth-child(3) {
    width: 100px;
    text-align: center;
}

/* Search and clear container styles */
.search-and-clear-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1px;
    width: 100%;
}

/* Search input styles */
.search-actions {
    display: flex;
    justify-content: flex-end;
}

.search-actions input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 300px;
}

/* Delete Events button styles */
#DeleteEvent {
    display: flex; 
    align-items: center; /* Vertically center the content */
    padding: 8px 7px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #DC143C;
    color: white;
    transition: background-color 0.3s;
    margin-left: 180px;
    margin-top: 10px;
    font-weight: bold;
}

#DeleteEvent img {
    margin-right: 6px; 
    width: 20px; 
    height: 20px; 
    filter: invert(1); 
}

#DeleteEvent:hover {
    background-color: #FF3355;
}

/* Add Button button styles */
.button-link {
    display: flex; 
    align-items: center; /* Vertically center the content */
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.button-link img {
    margin-right: 10px; 
    width: 20px; 
    height: 20px; 
    filter: invert(1); 
}

.button-link:hover {
    background-color: #45a049;
}

/* Edit Button styles */
#editButton {
    display: flex; 
    align-items: center; /* Vertically center the content */
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

#editButton img {
    margin-right: 5px; 
    width: 15px; 
    height: 15px; 
    filter: invert(1); 
}

#editButton:hover {
    background-color: #1565C0;
}


#noEventsMessage {
    display: none;
    margin-top: 20px;
    text-align: center;
}

#noEventsMessage img {
    width:100px;
    height: auto;
    margin-bottom: 10px;
}

#noEventsMessage .message {
    color: #888;;
    font-size: 22px;
    font-weight: bold;
}