/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif; /* Use "Lato," and if not available, use a generic sans-serif font */
}
body, ul {margin: 0; padding: 0; list-style: none;}

/* Style for the image container */
.hero {
    position: relative; 
}

/* Style for the black overlay above the image */
/* .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 53.2%; 
    background-color: rgba(0, 0, 0, 0.65); 
} */

.image-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

/* Style for the header and navigation bar */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    color: #fff;
    padding: 23px 40px;
    z-index: 3; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-left: 35px;
}

.menu ul {
    display: flex;
    gap: 40px;
    padding: 0 50px; /* Add padding to the left and right sides */
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859;
}

/* Style for the image */
img {
    width: 100%;
    height: 95vh; 
    object-fit: cover;
    opacity: 0.8;
}

/* Style for the text overlay container */
.text-overlay {
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -100%);
    text-align: center;
    z-index: 4; 
    color: #fff; 
}

/* Style for the "GreenEase" text */
.green-ease-text {
    font-size: 59px; 
    font-weight: bold;
    margin-bottom: 12px; 
}

/* Style for the "Innovative Waste Collection" text */
.innovative-text {
    font-size: 30px; 
    font-weight: 50; 
}

/* Style for the "Why Choose Clean and Green Garbage Solution?" text */
.hero-title {
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    position: relative; /* Create a relative positioning context */
}

/* Style for the "Why Choose Clean and Green Garbage Solution?" text */
.hero-title {
    font-weight: 1000; /* Make the text bold */
    text-align: center; /* Center-align the text */
    position: relative; /* Create a relative positioning context */
    margin-top: 20px; /* Increase the margin above the text */
    margin-bottom: 20px; /* Increase the margin below the text */
    margin-left: 20px; /* Adjust the margin to shift the text to the right */
}

/* Style for the line below the text */
.line {
    border: none; /* Remove the default border style of the <hr> element */
    border-top: 2px solid #ccc; /* Set the line color to gray and thickness */
    margin: 10px auto; /* Center-align the line horizontally and add some space */
    width: 100%; /* Set the width to 100% to make it full-width */
}

Style for the subheading wrapper
.subheading-wrapper {
    display: flex;
    justify-content: center; /* Center the subheadings horizontally */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 20px; /* Add some gap between subheading boxes */
}

/* Style for each subheading container */
.subheading-box {
    flex-basis: calc(50% - 10px); /* Adjust the width as needed, accounting for margins */
    margin: 0 5px; /* Add some margin between subheading containers */
    text-align: center; /* Center-align the subheading and paragraph */
    background-color: #f0f0f0; /* Gray background color for the box */
    padding: 20px; /* Add some padding inside the box */
    border-radius: 10px; /* Add rounded corners to the box */
}

/* Style for the subheading */
.subheading h3 {
    font-weight: 700; /* Make the subheading semi-bold */
    margin-bottom: 10px; /* Add some space below the subheading */
}

/* Style for the paragraph */
.subheading p {
    margin-top: 10px; /* Add some space above the paragraph */
    text-align: center; /* Center-align the paragraph */
}

/* Style for the circular image */
.circular-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    text-align: center; /* Center-align the text with the image */
    margin-right: 20px; /* Adjust the spacing between image containers */
    margin-bottom: 10px; /* Add margin below the image containers */
    margin-top: 20px;
}

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid grey; /* Add a black border */
}

.image-text {
    font-weight: regular; 
    margin-top: 10px; /* Add space between the image and text */
}

/* Style for the impact text */
.impact-container {
    text-align: center; /* Center-align the content */
    margin-top: 20px; /* Add some top margin for spacing */
}

.impact-heading {
    font-weight: bold; /* Make the heading bold */
    font-size: 25px;
    margin-bottom: 3px; /* Decrease the margin between heading and text */
}

.impact-text {
    font-size: 18px;
}

/* Style for the button */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cta-button.button {
    background-color: #00a859; /* Set the button's background color to green */
    color: white; /* Set the text color to white */
    padding: 15px 30px; /* Add padding to the button for better styling */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Add rounded corners to the button */
    font-weight: bold; /* Make the button text bold */
    transition: background-color 0.3s; /* Add a smooth transition for the background color */
    margin-bottom: 15px;
}

.cta-button.button:hover {
    background-color: darkgreen; /* Change the background color on hover */
}

/* Style for About Us Section */
.about-us-section {
    position: relative;
    background-color: #f4f4f4;
    padding: 0; /* Remove top and bottom padding */
    overflow: hidden;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-top: 0; /* Remove top margin */
}

.about-us-content {
    flex: 1;
    padding: 20px;
}

.about-us-content h2 {
    font-size: 50px;
    color: #00a859;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-us-content p {
    font-size: 18px;
    color: #000;
    line-height: 1.6;
}

.about-us-image {
    flex: 1;
}

.about-us-image img {
    width: 100%; /* Adjusted width to make it full-width */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Style for the "Learn More" link in the "About Us" section */
.about-button {
    color: #000; 
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.about-button:hover {
    color: #00a859; /* Change the text color to green on hover */
}

/* Style for the blog section */
.blog-section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

/* Style for the blog heading */
.blog-heading {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #000;
    margin-top: 5px;
    margin-bottom: 40px;
}

/* Style for the blog container */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px; /* Add some horizontal padding to the container */
}

/* Style for individual blog entries */
.blog {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Style for the blog image */
.blog img {
    max-width: 80%; 
    height: auto; /* Allow the image to maintain its aspect ratio */
    display: block; /* Remove extra spacing below the image */
    margin: 0 auto; /* Center-align the image horizontally */
    margin-bottom: 10px; /* Add margin below the image */
}


/* Style for the blog title */
.blog-title {
    font-size: 24px;
    font-weight: bolder;
    color: #00a859;
    margin-bottom: 10px;
}

/* Style for the blog description */
.blog-description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Style for the "Read More" link */
.read-more {
    text-decoration: none; /* Remove underline */
    color: #333; /* Set the default text color */
    font-weight: bolder;
    transition: color 0.3s; /* Add a smooth transition for text color change */
}

/* Change the text color to green on hover */
.read-more:hover {
    color: #00a859; /* Change to green on hover */
}


/* Style for the "View All Blogs" button */
.view-all-blogs {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 50px;
}

.view-all-button {
    background-color: #00a859;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    display: inline-block; /* Display the button as a block to center it */
}

.view-all-button:hover {
    background-color: darkgreen;
}


/* Style for the contact section */
.contact-section {
    background-color: #fff;
    padding: 50px 0;
    position: relative; /* Add relative positioning to the contact section */
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-image-container {
    flex: 1;
    text-align: center;
    margin-left: -180px;
    margin-right: 20px;
    position: absolute; /* Add absolute positioning to the image container */
    left: 0; /* Position it on the left side */
    top: 40.15%; /* Vertically center the image */
    transform: translateY(-50%); /* Adjust to center vertically */
    z-index: 1; /* Ensure the image container stays above other content */
    overflow: hidden; /* Hide any overflowing content */
}

.contact-image {
    max-width: 42%;
    height: auto;
    border-radius: 10px;
    opacity: 100%;
}

.contact-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-left: 600px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
    max-width: 300px; /* Adjust the maximum width to control the size */
    width: 40%; /* Ensure it takes up the available width */
}

.contact-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #00a859;
}
/* Style for the paragraph above the button */
.contact-content p {
    margin-bottom: 25px; 
}

/* Style for the contact button */
.contact-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #fff; /* White background color */
    color: #00a859; /* Green text color */
    border: 2px solid #00a859; /* Green border */
    padding: 10px 10px; /* Smaller padding */
    border-radius: 50px; /* Rounded button shape */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Slightly smaller font size */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block; /* Make it a block-level element */
    text-align: center; /* Center-align the text */
    width: 40%; /* Set a width to center the button */
    margin: 0 auto; /* Center horizontally */
}

/* Change button appearance on hover */
.contact-button:hover {
    background-color: #00a859; /* Green background color on hover */
    color: #fff; /* White text color on hover */
}


/* Style for the footer */
.footer {
    position: relative;
    z-index: 2;
    background-color: #3c3c3c; /* Black background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 5px 0; /* Add padding to the top and bottom of the footer */
    /* margin-top: 20px; */
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px; /* Add some left margin to the terms and conditions link */
}

.terms a {
    color: #fff; /* Text color for the link */
    text-decoration: none; /* Remove underlines from the link */
    font-weight: bold; /* Make the link text bold */
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px; /* Add some right margin to the social icons */
    margin-top: -10px; /* Add negative top margin to shift the icons upwards */
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px; /* Add some space between icons */
    float: right;
}

.social-icons img {
    width: 25px; /* Increase the width to make the icons larger */
    height: 25px; /* Increase the height to match the width for a uniform size */
    filter: invert(100%); /* Change the color to white using the invert filter */
    object-fit: contain; /* Maintain the aspect ratio and contain within the specified dimensions */
    opacity: 100%;
}

/* Style for the copyright text */
.copyright {
    text-align: center; /* Center-align the copyright text */
    padding: 0; /* Remove any padding */
    margin-left: 80px; /* Add left margin to move it to the right */
}