/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation bar */
nav {
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Set width to 100% */
    margin: 0 auto;
    padding: 20px 0; /* Remove fixed padding */
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 70px;
}

.menu ul {
    display: flex;
    gap: 40px;
    padding: 0 80px; /* Add padding to the left and right sides */
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859;
}

.registration-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #00a859;
}

/* Style for the note below the heading */
.registration-container p {
    font-size: 14px; 
    color: #DC143C; 
    margin-top: 5px; 
    text-align: justify; 
    font-weight: bold;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

input,
textarea {
    width: calc(100% - 20px); /* Adjusted width and added some padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px; 
}

button {
    background-color: #00a859;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: darkgreen;
}

/* Style for the footer */
.footer {
    background-color: #3c3c3c; /* Black background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 5px 0; /* Add padding to the top and bottom of the footer */
    margin-top: 20px;
    opacity: 100%;
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px; /* Add some left margin to the terms and conditions link */
}

.terms a {
    color: #fff; /* Text color for the link */
    text-decoration: none; /* Remove underlines from the link */
    font-weight: bold; /* Make the link text bold */
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px; /* Add some right margin to the social icons */
    margin-top: -10px; /* Add negative top margin to shift the icons upwards */
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px; /* Add some space between icons */
    float: right;
}

.social-icons img {
    width: 25px; /* Increase the width to make the icons larger */
    height: 25px; /* Increase the height to match the width for a uniform size */
    filter: invert(100%); /* Change the color to white using the invert filter */
    object-fit: contain; /* Maintain the aspect ratio and contain within the specified dimensions */
    opacity: 100%;
}

/* Style for the copyright text */
.copyright {
    text-align: center; /* Center-align the copyright text */
    padding: 0; /* Remove any padding */
    margin-left: 80px; /* Add left margin to move it to the right */
}