<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/static/css/login.css"> 
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <title>GreenEase - Login</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <!-- <img src="/static/img/logo.png" alt="GreenEase Logo" height="100px" width="100px"> -->
                <a href="/">GreenEase</a>
            </div>
        </nav>
    </header>

    <section class="login">
        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                <h1 class="login-heading">Login</h1>

                <div class="user-info">
                    <img src="/static/img/user.png" alt="User Icon">
                    <p class="label">Username</p>
                </div>
                <div class="input-container">
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="password-info">
                    <img src="/static/img/padlock.png" alt="Password Icon">
                    <p class="label">Password</p>
                </div>
                <div class="input-container">
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="button-container">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Here you might perform an AJAX request to your server to check credentials
            // For this example, let's assume the username is "user" and password is "password"
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Check credentials 
            if (username == 'admin' && password == 'admin') {
                // Successful login
                Swal.fire({
                    icon: 'success',
                    title: 'Login Successful!',
                    showConfirmButton: false,
                    timer: 1500}) 
                    .then(() => {
                    // Redirect the user to the dashboard
                    window.location.href = '/dashboard'; 
                });;
                // You can redirect the user to another page here if needed
            } else {
                // Failed login
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Credentials',
                    text: 'Please enter valid username and password.',
                });
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
