/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation bar */
nav {
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 74.5px;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859;
}

/* Styles for the image inside the "about" section */
.about img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    bottom: -30px;
}

/* Styles for the green box below the image */
.green-box {
    background-color: #00a859;
    color: white;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

/* Styles for the header inside the green box */
.green-box h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 30px;
    color: white;
}

/* Styles for the paragraph inside the green box */
.green-box .about-intro {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6;
}

.green-box .about-paragraph {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

/* Style for the footer */
.footer {
    background-color: #3c3c3c;
    color: #fff;
    padding: 5px 0;
    margin-top: 20px;
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px;
}

.terms a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px;
    margin-top: -10px;
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px;
    float: right;
}

.social-icons img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

/* Style for the copyright text */
.copyright {
    text-align: center;
    padding: 0;
    margin-left: 80px;
}
