/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation bar */
nav {
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 74.5px;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859;
}

/* Style for the blog heading */
.blog-heading {
    text-align: center;
    color: #00a859;
    padding: 5px 0;
    font-size: 50px;
}

/* Style for the blog section */
.blog-post {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    padding: 0 20px;
}

.image-content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    order: 1;
}

.image-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-content {
    flex: 1;
    order: 2;
    margin-top: 5px;
    padding-right: 30px;
}

.text-content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.text-content p {
    font-size: 17px;
    margin-bottom: 10px;
}

.text-content a {
    text-decoration: none;
    color: #00a859;
    font-weight: bold;
}

.blog-post hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for the footer */
.footer {
    background-color: #3c3c3c;
    color: #fff;
    padding: 5px 0;
    margin-top: 20px;
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px;
}

.terms a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px;
    margin-top: -10px;
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px;
    float: right;
}

.social-icons img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

/* Style for the copyright text */
.copyright {
    text-align: center;
    padding: 0;
    margin-left: 80px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pagination a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 2px;
    background-color: #00a859;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: darkgreen;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}
