/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif; /* Use "Lato," and if not available, use a generic sans-serif font */
}
body, ul {margin: 0; padding: 0; list-style: none;}

/* Style for the navigation bar */
nav {
    background-color: #3c3c3c; /* Black background color for the navigation bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 74.5px; 
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: white; /* Green color for the logo */
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white; /* White text color for navigation links */
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859; /* Green color for navigation links on hover */
}

/* Style for the blog heading */
.blog-heading {
    text-align: center;
    color: #00a859;
    padding: 5px 0; /* Add padding to the top and bottom of the heading */
    font-size: 50px; /* Adjust the font size as needed */
}


/* Style for the blog section */
.blog-post {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    padding: 0 20px; /* Add space on both sides */
}

.image-content {
    padding-left: 30px; /* Add some space between the image and text on the left */
    padding-right: 30px; /* Add space between the image and text on the right */
    margin-top: 20px;
    order: 1; /* Change the order to display image on the right */
}

.image-content img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Center-align the image horizontally */
}

.text-content {
    flex: 1; /* Allow text content to grow and take more space */
    order: 2; /* Change the order to display text on the left */
    margin-top: 5px;
    padding-right: 30px;
}

.text-content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.text-content p {
    font-size: 17px;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.text-content a {
    text-decoration: none;
    color: #00a859;
    font-weight: bold;
}

.blog-post hr {
    border: none;
    border-top: 1px solid #ddd; /* Add a 1px solid line as an HR element */
    margin-top: 20px; /* Add space above the HR line */
    margin-bottom: 20px; /* Add space below the HR line */
}


/* Style for the footer */
.footer {
    background-color: #3c3c3c; /* Black background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 5px 0; /* Add padding to the top and bottom of the footer */
    margin-top: 20px;
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px; /* Add some left margin to the terms and conditions link */
}

.terms a {
    color: #fff; /* Text color for the link */
    text-decoration: none; /* Remove underlines from the link */
    font-weight: bold; /* Make the link text bold */
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px; /* Add some right margin to the social icons */
    margin-top: -10px; /* Add negative top margin to shift the icons upwards */
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px; /* Add some space between icons */
    float: right;
}

.social-icons img {
    width: 25px; /* Increase the width to make the icons larger */
    height: 25px; /* Increase the height to match the width for a uniform size */
    filter: invert(100%); /* Change the color to white using the invert filter */
}

/* Style for the copyright text */
.copyright {
    text-align: center; /* Center-align the copyright text */
    padding: 0; /* Remove any padding */
    margin-left: 80px; /* Add left margin to move it to the right */
}