/* Set the font family for the entire website to "Lato" */
body {
    font-family: "Lato", sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation bar */
nav {
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 74.5px;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #00a859;
}

/* Styles for the green box and its content */
.green-box {
    background-color: #00a859;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 30px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    flex: 1;
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 40px;
}

.text-content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.text-content p {
    font-size: 20px;
    margin-bottom: 0px;
}

.image-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Style for the rectangles */
.rectangles {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.rectangle1,
.rectangle2 {
    width: calc(50% - 10px);
    height: 250px;
    background-color: white;
    border: 2px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: border-color 0.3s; /* Add transition for smooth effect */
}

.rectangle1:hover,
.rectangle2:hover {
    border-color: #00a859; /* Change border color on hover */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

.rectangle1 h3,
.rectangle2 h3 {
    font-weight: bold;
    margin-bottom: 2px;
}

.rectangle1 p,
.rectangle2 p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Style the icon */
.rectangle1 .icon img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.rectangle2 .icon img {
    width: 70px;
    height: 46px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

/* Style for the phone number and email links */
.rectangle1 a,
.rectangle2 a {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.rectangle1 a:hover,
.rectangle2 a:hover {
    color: #00a859;
}

/* Style for the footer */
.footer {
    background-color: #3c3c3c;
    color: #fff;
    padding: 5px 0;
    margin-top: 20px;
}

/* Style for the terms and conditions link */
.terms {
    margin-left: 20px;
}

.terms a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    color: #00a859;
}

/* Style for the social icons */
.social-icons {
    margin-right: 20px;
    margin-top: -10px;
}

/* Style for individual social media icons */
.social-icons a {
    margin-left: 10px;
    float: right;
}

.social-icons img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

/* Style for the copyright text */
.copyright {
    text-align: center;
    padding: 0;
    margin-left: 80px;
}
