/* CSS for notification */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background: #3c3c3c;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.admin-label {
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .menu-item {
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.menu .menu-item:nth-child(2) .menu-box {
    background: #00a859;
}

.menu .menu-box {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 0;
    background: none;
    transition: background 0.3s;
    width: 100%;
}

.menu .menu-box .icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    filter: invert(100%);
}

.menu .menu-box .bold-text {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.menu .menu-item:hover .menu-box {
    background: #00a859;
}

.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}

.title-box {
    background: #fff;
    color: #00a859;
    text-align: left;
    height: 35px;
    margin-left: 30px;
    width: 100%;
}

.title-box h1 {
    font-size: 26px;
}

.line {
    border: none;
    border-top: 2px solid #ccc;
    width: 103%;
    margin-bottom: 3px;
}

.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; 
    margin-left: 10px; /* Adjust as needed */
}

.userrequest-table {
    width: 1050px;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userrequest-table th,
.userrequest-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.userrequest-table th {
    background-color: #00a859;
    color: #fff;
}

/* CSS for checkbox */
.userrequest-table th:first-child,
.userrequest-table td:first-child {
    width: 10px; 
    text-align: center;
}

.userrequest-table th:first-child input,
.userrequest-table td:first-child input {
    width: 20px; 
    height: 20px; 
    margin: 0;
}

/* CSS for buttons */
.accept-btn {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
}

.accept-btn:hover {
    background-color: #45a049; 
}

.delete-btn {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #DC143C;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #FF3355;
}